


<h2>Student Dashboard</h2>

<nav class="student-nav">
  <ul>
    <li><a routerLink="/profile" routerLinkActive="active-link">Profile</a></li>
    <!-- <button (click)="isgotocourse()" class="nav-button">Go to Course</button> -->
    <li><a routerLink="/attendance" routerLinkActive="active-link">Attendance</a></li>
    <li><a routerLink="/grades" routerLinkActive="active-link">Grades</a></li>
    <li><a routerLink="/projects" routerLinkActive="active-link">Projects</a></li>
  </ul>
</nav>

<!-- ******************######################**************** -->


<!-- data Binding -->


