<app-navbar></app-navbar>


<main>
  <section>
    <a routerLink="/products" routerLinkActive="active">Products</a>
    <hr>
    <p>
      To become a Python Software Developer, you need a combination of technical skills and soft skills. <br>
      Since you already have experience with Python, SQL, Flask, APIs, Machine Learning, and Data Science,<br>
      you are on the right path! Below is a detailed skill set to help you become a strong Python Software Developer.
    </p>
    <ul>
      <li>Strong proficiency in Python</li>
      <li>Hands-on experience with Flask and APIs</li>
      <li>Knowledge of SQL and data manipulation</li>
      <li>Experience with Machine Learning libraries like scikit-learn</li>
      <li>Understanding of software development lifecycle</li>
    </ul>
    
  </section>
</main>


<router-outlet></router-outlet>
<app-footer></app-footer>