<!-- app.component.html -->
<header>
    <h1>Welcome To My Website</h1>
    <nav>
      <ul class="nav-links">
        
        <li><a routerLink="/field" routerLinkActive="active-link">Field</a></li>
        <li><a routerLink="/Student-name" routerLinkActive="active-link">Students</a></li>
        <li><a routerLink="/extraactivity" routerLinkActive="active-link">Extra Activities</a></li>
        <li><a routerLink="/course" routerLinkActive="active-link">Courses</a></li>
      </ul>
    </nav>
  </header>
  
  <body>
     <!-- <h2>{{ username }}</h2> -->

   

        <div class="col-1">
          <input [(ngModel)]="username1" placeholder="Enter name">
          <p>Your name is: {{ username1}}</p>
        </div>


    <div class="row">
      <div class="col">
      <input [(ngModel)]="name" placeholder="Type your name">
      <button (click)="submit()">Submit</button>

      <p>Hello, {{ name }}!</p>

     </div>
    </div>

<div class="col-2">
  <button (click)="sayHello()">Click Me</button>
  <section> 
    <input [value]="username1">
  </section>
  <p>Your age is: {{ age }}</p>
  <input type="number" [(ngModel)]="age">

</div>

<button (click)="toggle()">Toggle Message</button>

<p *ngIf="showMessage">Hello, this message is conditionally shown!</p>


<ul>
  <li *ngFor="let fruit of fruits">{{ fruit }}</li>
</ul>


<select [(ngModel)]="userRole">
  <option value="admin">Admin</option>
  <option value="user">User</option>
  <option value="guest">Guest</option>
</select>

<div [ngSwitch]="userRole">
  <p *ngSwitchCase="'admin'">Welcome, Admin!</p>
  <p *ngSwitchCase="'user'">Welcome, User!</p>
  <p *ngSwitchDefault>Welcome, Guest!</p>
</div>


<main class="container">
  <router-outlet></router-outlet>
</main>
</body>

  


  

<footer>
   
      
    
    <p>&copy; 2025 My Angular Website</p>
  </footer>
  