footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #74725e; /* Bootstrap light background */
    color: #333;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    z-index: 1000;
  }
  